x-app {
  display: grid;
  grid-template-columns: 200px auto;
  gap: 10px 10px;
  grid-template-areas: "nav view"
                       "footer  footer";
  font-family: sans-serif;
  padding: 10px;
  font-size: 14px;
  box-sizing: border-box;
}

x-app x-router {
  flex: auto;
}

x-app x-console {
  margin: 10px;
  background: aliceblue;
}

x-app x-console.console-stats {
  background: honeydew;
}

x-app nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
}

x-app h1 {
  font-size: 16px;
}

x-app h2 {
  font-size: 14px;
}

x-app .nav-item {
  margin: 5px;
}

x-app .controlpanel {
  padding: 10px;
  margin: 10px;
  background: cornsilk;
}

x-app x-view {
  display: block;
  grid-area: view;
}

x-app footer {
  grid-area: footer;
  padding: 20px;
  font-size: .8em;
  color: darkgray;
}

x-app page-start {
  display: block;
  width: 600px;
}

x-app .hidden,
x-app [hidden] {
  display: none;
}