x-app {
  display: grid;
  grid-template-columns: 200px auto;
  gap: 20px 20px;
  grid-template-areas: "nav view"
                       "footer  footer";
  font-family: sans-serif;
  padding: 10px;
  font-size: 14px;
  box-sizing: border-box;
  background: white;
}

x-app:not(:defined):before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-left-color: dimgrey;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: loading-spin 1s linear infinite;
}
@keyframes loading-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

x-app x-router {
  flex: auto;
}

x-app x-console {
  margin: 10px;
  background: aliceblue;
}

x-app x-console.console-stats {
  background: honeydew;
}

x-app nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
}

x-app p {
  margin: 0 0 1em 0;
}

x-app li {
  margin-left: 2em;
}

x-app h1 {
  font-size: 16px;
}

x-app h2 {
  font-size: 14px;
}

x-app h1,
x-app h2 {
  margin: .5em 0 .5em 0 !important;
}

x-app label {
  display: inline-block;
  margin: 0 0 0 .5em;
}

x-app input[type="checkbox"] {
  margin-right: .5em;
}

x-app .nav-item {
  margin: 5px;
}

x-app .controlpanel {
  padding: 10px;
  margin: 10px;
  background: cornsilk;
}

x-app x-view {
  display: block;
  grid-area: view;
}

x-app footer {
  grid-area: footer;
  padding: 20px;
  font-size: .8em;
  color: darkgray;
}

x-app page-start {
  display: block;
  width: 600px;
}

x-app .hidden,
x-app [hidden] {
  display: none;
}